.idea/

/*/core
logs.txt
runner
test/test
one-runner

# automaticaly generated tests
test/cases/05_rotate-counter-clockwise/0_I/
test/cases/05_rotate-counter-clockwise/3_S/
test/cases/05_rotate-counter-clockwise/4_Z/
test/cases/05_rotate-counter-clockwise/5_O/
