.idea/

# C #
/srcs/c/core

# JAVA #
srcs/java/*.class

logs.txt
runner
test/test
test/test_init
one-runner
one-cases.txt

# automaticaly generated tests
test/cases/05_rotate-counter-clockwise/0_I/
test/cases/05_rotate-counter-clockwise/3_S/
test/cases/05_rotate-counter-clockwise/4_Z/
test/cases/05_rotate-counter-clockwise/5_O/
